h2.intro {
  font-family: sans-serif;
  color: #3355ee
}

p.intro{
  color: red;
  font-family: fantasy;
  background-color: #943d4d
}
img.intro{
  border-radius: 75px;
  border-spacing: 20px;
  float: left;
}
